@font-face {
  font-family: "RobotoRegular";
  src: url("../vendor/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: url("../vendor/fonts/Roboto-Thin.ttf") format("truetype");
}

body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 48px;
}

/*

  black: #1d1b1b;
  tomato-red: #ec4d37;
  orange: #ec8b5e;
  white: #ffffff;

*/
