@font-face {
    font-family: "RobotoRegular";
    src: url("../vendor/fonts/Roboto-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "RobotoThin";
    src: url("../vendor/fonts/Roboto-Thin.ttf") format("truetype");
  }

  /*
COLORS:-
  bg-dark: #222831;
  bg-light: #323841;
  helo-blue: #43d9b4;
  twitter-blue: #30c8e6;
*/

.div-student-container {
  margin-bottom: 35px;
}

.floating-button-add-student {
  position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
}

.floating-button-add-student img {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.div-container-student-list {
  background-color: #323841;
}
