@font-face {
    font-family: "RobotoRegular";
    src: url("../vendor/fonts/Roboto-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "RobotoThin";
    src: url("../vendor/fonts/Roboto-Thin.ttf") format("truetype");
  }
  
  /*
  COLORS:-
    bg-dark: #222831;
    bg-light: #323841;
    helo-blue: #43d9b4;
    helo-blue-dark: #35AD90
    twitter-blue: #30c8e6;
  */
body { 
    position: absolute; 
    min-height: 100%; 
}

#div-left-col {
    z-index: 2;
    background-color: #222831;
    position: absolute;
    top:0; 
    bottom:0;
    left: 0;
    width: 350px;
}

#div-left-inner-col {
    width: 100% !important;
    color: white;
}

#div-right-col {
    z-index: 1;
    position: absolute;
    top:0; 
    bottom:0;
    left: 0;
    width: 100vw;
    background-color: #323841;
}
#div-right-inner-col {
    float: right;
    width: 400px;
    margin-left: 600px;
}
#div-right-inner-col p {
    font-family: "RobotoThin";
    font-size: 40px;

}

/* Input field custom style */
/* Inactive/Active Default input field color */
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}

/* Inactive/Active Default input label color */
.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: green;
}

/* Active/Inactive Invalid input field colors */
.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

/* Active/Inactive Invalid input label color */
.input-field input[type].invalid:focus+label,
.input-field input[type].invalid~.helper-text::after,
.input-field input[type].invalid:focus~.helper-text::after, 
.input-field textarea.invalid:focus+label,
.input-field textarea.invalid~.helper-text::after,
.input-field textarea.invalid:focus~.helper-text::after {
    color: red;
}

/* Active/Inactive Valid input field color */
.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}

/* Active/Inactive Valid input label color */
.input-field input[type].valid:focus+label,
.input-field input[type].valid~.helper-text::after,
.input-field input[type].valid:focus~.helper-text::after,
.input-field textarea.valid:focus+label,
.input-field textarea.valid~.helper-text::after,
.input-field textarea.valid:focus~.helper-text::after {
    color: green
}